:root {
    --main-font-size: 40px; 
    --secondary-font-size: 20px;
}
body{
    margin: 0;
    min-height: 100vh;
}

/* Navigation Bar Code */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: Black;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    color: #162530;
    background: rgba(188, 212, 229, 0.8);
    border: 2px solid black;
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

/* Navigation Responsive Code */
@media (max-width: 1024px) {
    .navbar{
        backdrop-filter: none;
        width: 30rem;
    }
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle {
        position: relative;
        right: 30px;
        display: block;
        z-index: 999;
    }
    .navbar-logo{
        font-size: 30px;
    }

    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media(max-width: 600px){
    .navbar-container{
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}

/* Home Page Code */
.homepage {
    display:flex;
    position: relative;
    width: 45rem;
    flex-direction: column;
    margin-top: 200px;
    left: 200px;
    margin-bottom: 40rem;
}
.homepage-header{
    position: relative;
    top: 100px;
    font-size: var(--main-font-size);
}
.homepage-text {
    position: absolute;
    top: 10rem;
    font-size: var(--secondary-font-size);
}
.profile-picture-background{
    position: absolute;
    height: 450px;
    left: 55vw;
    margin-top: -5rem;
    border-radius: 50%;
    background-color: black;
    padding: 10px;
}
.profile-picture{
    position: relative;
    top: 15px;
    right: 10px;
    border-radius: 50%;
    background-color: white;
}
/* Home Page Responsive Code */
@media (max-width: 1024px) {
    .homepage {
        position: relative;
        top: -50px;
        left: -80px;
    }
    .homepage-header{
        top: 18rem;
        left: 125px;
        font-size: 25px;
    }
    .homepage-text {
        position: relative;
        left: 100px;
        width: 25rem;
        text-align: center;
        font-size: 15px;
        top: 17rem;
    }
    .profile-picture-background{
        left: 150px;
        width: 300px;
        height: 300px;
    }
    .profile-picture{
        width: 300px;
        height: 300px;    
    }
}
@media(max-width: 600px){
     .homepage {
        left: 5px;
        top: -50px;
    }
    .homepage-header{
        top: 150px;
        font-size: 20px;
    }
    .homepage-text {
        width: 20rem;
        top: 170px;
        left: 50px;
        text-align: center ;
        font-size: 15px;
    }
    .profile-picture-background{
        left: 100px;
        height: 200px;
        width: 200px;
    }
    .profile-picture{
        top: -1px;
        height: 200px;
        width: 200px;
    }
}

/* About Me Section */
.aboutMe{
    display: flex;
    position: relative;
    width: 200px;
    left: 60rem;
    flex-direction: column;
}
.aboutMe-Header{
    position: relative;
    font-size: var(--main-font-size);
}
.aboutMe-Intro {
    position: relative;
    font-size: var(--secondary-font-size);
    width: 40rem;
}
.aboutMe-Picture{
    position: absolute;
    right: 30rem;
    top: -10rem;
}
